* {
  box-sizing: border-box;
}
.App {
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.column {
  width: 49%;
}

.country-list {
  max-height: 100vh;
  overflow-y: scroll;
}

#flag {
  border: 1px solid gray;
}

.typeahead-input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px; /* to prevent ios auto-zoom */
  outline: none; /* to prevent outline color on focus */
  padding: 5px;
  width: 90%;
}

.typeahead-container {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
}

.width-100 {
  width: 100%;
}

.clear-input {
  align-self: center;
  text-align: center;
  width: 10%;
}

.country-dropdown {
  border-bottom: 1px solid black;
}

.country-dropdown-option {
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.country-dropdown-option:hover {
  background-color: lightgray;
}

.leaflet-container {
  border: 1px solid black;
  height: 500px;
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .column {
    margin: 5px 0;
    width: 100%;
  }

  #flag {
    width: 100%;
  }

  .flex-container {
    flex-direction: column-reverse;
  }

  .leaflet-container {
    max-height: 33vh;
    width: 100%;
  }

  p {
    margin: 5px 0;
  }

  .typeahead-container {
    max-width: 100%;
    overflow: visible;
  }
}
